html,
body {
  height: 100%;
  /* 부모요소의 100% 높이*/
  overflow: hidden;
  /* 자식요소가 넘치면 숨김*/
}

#imglogo {
  width: auto;
  height: 55px;
  margin: 25px 25px;
}

#logo11 {
  /*body 안에 h1 첫번째 자식*/
  text-align: center;
  /*가운데 정렬*/
  background-color: #8ab0e8;
  color: white;
  padding: 10px 10px 10px 10px;
  margin-bottom: 70px;
  border: 4px solid black;
  vertical-align: middle;
}

nav {
  flex: 1;
  background-color: #232f3e;
  line-height: 100px;
}

nav>ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  height: 100px;
}

nav>ul>li>a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 5px 5px 60px #00f5fe;
}

nav>ul>li>a:hover {
  color: #f90;
}

nav>ul>li>a:active {
  border: 2px solid #00f5fe;
  border-radius: 20%;
}

.container {
  /*클래스 이름이  container */
  display: flex;
  /* 자식요소들을 자동으로 나란히 배치 */
  height: calc(100% - 100px);
  /* 계산 (수식 사이 꼭 스페이스바 넣기) */
}

.container>div:first-child {
  /* > 직계자식 중 첫번째 div */
  padding-right: 15px;
  /*오른쪽 안쪽 여백을 15px 띄움*/
  overflow-y: auto;
  /* 자식요소의 크기가 자신보다 크면 자동으로 스크롤이 생기고 작으면 표시안함 (y-수직) */
}

.container>div:last-child {
  flex: 1;
  /*나머지 넓이를 전부 차지*/
}

.container>div:last-child>iframe {
  width: 100%;
  height: 100%;
  border: 1px solid;
}